/* CSS page */
body{
    margin: 0;
}

/*top part */
.header {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.awesome {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.leftpart {
    display: flex;
    flex-direction: column;
    
}

.parrot {
    height: 200px;
    width: 400px;
}

/* second section */

.random {
    padding-left: 10vw;
    padding-right: 10vw;
}

.section-2-title {
    text-align: center;
    font-size: 40px;
}

.all-pictures {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: space-around;
}

.four-pictures {
    width: 150px;
    height: 150px;
}

.pic-one,
.pic-two,
.pic-three,
.pic-four {
    display: flex;
    flex-direction: column;
    width: min-content;
}

/* third section */

.quote {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.testimonial {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.signature {
    text-align: end;
    font-size: 30px;
}